---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Accordion from '../../components/Accordion.jsx';
import { client } from '@astro/types';
import { Image } from 'astro:assets';
import evi from '../../assets/team/evi.jpg';


const accordionItems = [
  { title: "Επαγγελματική Εμπειρία", id: "experience" },
  { title: "Εξειδικευμένες Εκπαιδεύσεις", id: "training" },
  { title: "Ανακοινώσεις σε συνέδρια", id: "conferences" },
  { title: "Η θεραπευτική μου ματιά", id: "perspective" },
];
const title = 'Εύη Καραβάνα | Ενάλια';
const description = 'Ψυχοθεραπευτικό κέντρο στη Νέα Ιωνία. Ατομική θεραπεία, ζεύγους, οικογενειακή.';
---

<BaseLayout {title} {description}>
  <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type":"Person",
      "name":"Εύη Καραβάνα",
      "jobTitle":"Ψυχοθεραπεύτρια",
      "worksFor":{"@type":"Organization","name":"Ενάλια"},
      "telephone":"+306972078685",
      "url":"https://vasiarapti.github.io/enalia/team/karavana"
    }
</script>
  <main class="min-h-screen py-12 px-6">
    <section class="space-y-4 max-w-6xl mx-auto p-4 rounded-lg shadow-md text-center">
      <div class="flex flex-row mb-4">
        <div class="basis-1/3">
          <Image src={evi} alt="Εύη Καραβάνα" class="p-2 rounded-full"/>
        </div>
        <div class="basis-2/3 self-center">
          <div class="flex justify-center">
            <h2 class="text-2xl font-bold">Εύη Καραβάνα</h2>
          </div>
          <div class="flex justify-center">
            <p>Ψυχολόγος, MSc</p>
          </div>
        </div>
      </div>
      <div class="text-sm text-slate-600 leading-relaxed">
        <p class="text-justify">Η Εύη Καραβάνα είναι ψυχολόγος-συστημική ψυχοθεραπεύτρια και έχει την επιστημονική ευθύνη του Κέντρου Ψυχοθεραπείας «Ενάλια».</p>
        <p class="text-justify">Είναι απόφοιτος του Προγράμματος Ψυχολογίας του Εθνικού και Καποδιστριακού Πανεπιστημίου Αθηνών.
          <br>Διαθέτει μεταπτυχιακές σπουδές στον τομέα της Ειδικής Αγωγής από το Ε.Κ.Π.Α. και είναι πιστοποιημένη επαγγελματίας με άδεια ασκήσεως επαγγέλματος.
          <br>Είναι μέλος του Συλλόγου Ελλήνων Ψυχολόγων (Σ.Ε.Ψ.) και εγγεγραμμένη στο μητρώο επαγγελματιών ψυχοθεραπευτών της Εθνικής Εταιρείας Ψυχοθεραπείας Ελλάδος (ΕΕΨΕ).
          <br>Παρέχει εξατομικευμένη υποστήριξη σε άτομα, ζευγάρια και οικογένειες, με στόχο την ενδυνάμωση και ψυχική ευημερία, μέσω της προσωπικής ανάπτυξης και της ενίσχυσης των σχέσεων τους.</p>
        <p class="text-justify">Έχει εκπαιδευτεί στην Συστημική – Διαλεκτική Προσέγγιση στο Αθηναϊκό Κέντρο Μελέτης του Ανθρώπου (Α.Κ.Μ.Α.), ενώ είναι μέλος της Ελληνικής Εταιρίας Συστημικής Θεραπείας (ΕΛΕΣΥΘ).</p>
      </div>
    </section>

    <Accordion client:load items={accordionItems} />
  </main>
</BaseLayout>