---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import AccordionC from '../../components/AccordionC.jsx';
import { client } from '@astro/types';
import chris from '../../assets/team/chris.jpg';


const accordionItems = [
  { title: "Επαγγελματική Εμπειρία", id: "experience" },
  { title: "Ανακοινώσεις σε συνέδρια", id: "conferences" },
  { title: "Η θεραπευτική μου ματιά", id: "perspective" },
];
---

<BaseLayout>
  <main class="min-h-screen py-12 px-6">
    <section class="space-y-4 max-w-6xl mx-auto p-4 rounded-lg shadow-md text-center">
      <div class="flex flex-row mb-4">
        <div class="basis-1/3">
          <Image src={chris} alt="Χρήστος Κωστικίδης" class="p-2 rounded-full ring-2 ring-primary-300"/>
        </div>
        <div class="basis-2/3 self-center">
          <div class="flex justify-center">
            <h2 class="text-2xl font-bold">Χρήστος Κωστικίδης</h2>
          </div>
          <div class="flex justify-center">
            <p>Κοινωνικός Λειτουργός, MSc</p>
          </div>
        </div>
      </div>
      <div class="text-sm text-slate-600 leading-relaxed">
        <p class="text-left">Ο Χρήστος Κωστικίδης είναι κοινωνικός λειτουργός και συστημικός ψυχοθεραπευτής, είναι απόφοιτος του Τμήματος Κοινωνικής Διοίκησης και Πολιτικής Επιστήμης, με ειδίκευση στην Κοινωνική Εργασία, στο Δημοκρίτειο Πανεπιστήμιο Θράκης.<br>Είναι κάτοχος Μεταπτυχιακού Διπλώματος Ειδίκευσης (M.Sc.) στον τομέα Ποινικού Δικαίου και Εξαρτήσεων και είναι πιστοποιημένος επαγγελματίας με άδεια ασκήσεως επαγγέλματος.</p>
        <p class="text-left">Έχει εκπαιδευτεί στο Εργαστήριο Συστημικής Ψυχολογίας και Παιδαγωγικής Ροδάκινο και συνεχίζει την εκπαίδευσή του στη συστημική προσέγγιση στο Κέντρο Ψυχοθεραπείας και Συμβουλευτικής Υποστήριξης "Συνηχήσεις".</p>
      </div>
    </section>
    <AccordionC client:load items={accordionItems} />
  </main>

</BaseLayout>
