---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Accordion from '../../components/AccordionC.jsx';
import { client } from '@astro/types';


const accordionItems = [
  { title: "Επαγγελματική Εμπειρία", id: "experience" },
  { title: "Ανακοινώσεις σε συνέδρια", id: "conferences" },
  { title: "Η θεραπευτική μου ματιά", id: "perspective" },
];
---

<BaseLayout>

  <main class="text-white min-h-screen py-12 px-6">
    <section class="max-w-3xl mx-auto bg-tertiary text-gray-800 p-8 rounded-lg shadow-md text-center">
      <img src="https://via.placeholder.com/200x200?text=Karavana" alt="Καραβάνα" class="w-10 h-10 p-1 rounded-full ring-2 ring-primary-300 dark:ring-gray-500" />
      <h2 class="text-2xl font-bold mb-4">Κωστικίδης Χρήστος</h2>
      <p class="mb-2">Ψυχοθεραπευτής, MSc Ποινικό Δίκαιο και Εξαρτήσεις</p>
      <p class="text-left">Ο Χρήστος Κωστικίδης είναι κοινωνικός λειτουργός και συστημικός ψυχοθεραπευτής, είναι απόφοιτοςH του Τμήματος Κοινωνικής Διοίκησης και Πολιτικής Επιστήμης, με ειδίκευση στην Κοινωνική Εργασία, στο Δημοκρίτειο Πανεπιστήμιο Θράκης. Είναι κάτοχος Μεταπτυχιακού Διπλώματος Ειδίκευσης (M.Sc.) στον τομέα Ποινικού Δικαίου και Εξαρτήσεων.</p>
      <p class="text-left">Έχει εκπαιδευτεί στο Εργαστήριο Συστημικής Ψυχολογίας και Παιδαγωγικής Ροδάκινο, με εξειδίκευση στη συστημική προσέγγιση.</p>
      <h3>Επαγγελματική Εμπειρία</h3>
      <p class="text-left">Ο Χρήστος Κωστικίδης έχει αποκτήσει πολυετή εμπειρία στην ψυχοκοινωνική υποστήριξη ευάλωτων πληθυσμών και στη διαχείριση κοινωνικών και ψυχικών δυσκολιών, τόσο σε ατομικό όσο και σε οικογενειακό και ομαδικό επίπεδο. Η επαγγελματική του εμπειρία στον τομέα της υποστήριξης προσφυγικών-μεταναστευτικών πληθυσμών είναι εκτεταμένη και πολυεπίπεδη, με σταθερή παρουσία σε κορυφαίους ελληνικούς και διεθνείς φορείς. Η εργασία του σε οργανισμούς όπως η Solidarity Now, η Praksis, ο Διεθνής Οργανισμός Μετανάστευσης (IOM) και η ΚΜΟΠ, καλύπτει όλο το φάσμα των υπηρεσιών που απαιτούνται για την υποστήριξη προσφύγων, αιτούντων άσυλο και ασυνόδευτων ανηλίκων, ενώ χαρακτηρίζεται από κοινές αρμοδιότητες που αναδεικνύουν τη συνέπεια και τη βαθιά κατανόηση του πεδίου.</p>
    </section>
    <AccordionC client:load items={accordionItems} />
  </main>

</BaseLayout>
