---
import BaseLayout from '../../layouts/BaseLayout.astro';
import oikogeneiakh from '../../assets/oikogeneiakh_imresizer.jpg';
import { Image } from 'astro:assets';
---

<BaseLayout>
  <div class="min-h-screen flex flex-col">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
      <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
        Οικογενειακή Θεραπεία
      </h2>

      <div class="flex flex-col md:flex-row gap-8">
        <!-- Image -->
        <div class="flex-shrink-0">
          <Image src={oikogeneiakh} alt="atomiki-psyxotherapeia" class="w-1/2 md:w-full mx-auto" />
        </div>

        <!-- Text Content -->
        <div class="flex-1 space-y-6">
          <p>
           Η οικογενειακή ψυχοθεραπεία αποτελεί θεμέλιο λίθο στην προσέγγισή μας, καθώς η οικογένεια, σε όλες τις μορφές της, είναι το πρώτο και πιο σημαντικό κοινωνικό σύστημα στο οποίο κάθε μέλος εξασφαλίζει την επιβίωση και την ανάπτυξη του. Βλέπουμε την οικογένεια ως ένα σύστημα, όπου οι σχέσεις μεταξύ των μελών αλληλοεπηρεάζονται και κάθε ατομική δυσκολία νοηματοδοτείται μέσα στο πλαίσιο των σχέσεων της οικογένειας. Οι παρεμβάσεις μας επικεντρώνονται στις διαπροσωπικές σχέσεις και όχι σε μεμονωμένα ατομικά ζητήματα, με στόχο την συνολική ανάπτυξη και ευημερία της οικογένειας. Στην Ενάλια, ο οικογενειακός θεραπευτής δεν περιορίζεται σε ρόλο παρατηρητή, αλλά συμμετέχει ενεργά στη διαδικασία, βοηθώντας τα μέλη να ενδυναμώσουν τη σχέση τους, να κατανοήσουν καλύτερα τις ανάγκες τους και να βρουν νέους τρόπους επικοινωνίας και αλληλεπίδρασης. 
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
