---
import BaseLayout from '../../layouts/BaseLayout.astro';
import omadiki from '../../assets/omadiki_imresizer.jpg';
import { Image } from 'astro:assets';
---

<BaseLayout>
  <div class="min-h-screen flex flex-col">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
      <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
        Ομαδική Θεραπεία
      </h2>

      <div class="flex flex-col md:flex-row gap-8">
        <!-- Image -->
        <div class="flex-shrink-0">
          <Image src={omadiki} alt="atomiki-psyxotherapeia" class="w-1/2 md:w-full mx-auto" />
        </div>

        <!-- Text Content -->
        <div class="flex-1 space-y-6">
          <p>
            Η ομαδική ψυχοθεραπεία προσφέρει ένα περιβάλλον ασφάλειας, εμπιστοσύνης και αμοιβαιότητας, όπου τα μέλη της ομάδας έχουν τη δυνατότητα να αλληλεπιδρούν με αυθεντικότητα και ενσυναίσθηση. Καθώς αναπτύσσεται μια σχέση ειλικρινούς επικοινωνίας, τα μέλη μπαίνουν συναισθηματικά στη θέση του άλλου, αναγνωρίζοντας τις δικές τους γνωστικές και συγκινησιακές διεργασίες. Μέσα από αυτό το μοίρασμα, καλλιεργείται η αυτογνωσία και ενισχύεται η ικανότητα κάθε ατόμου να παίρνει πρωτοβουλίες και να ενδυναμώνει τις διαπροσωπικές του σχέσεις, τόσο εντός της ομάδας όσο και στην καθημερινότητά του.
          </p>
          <p>
            Στην Ενάλια, αξιοποιούμε τη δυναμική της ομάδας ως μοχλό προσωπικής ανάπτυξης και συλλογικής υποστήριξης.
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
