---
import BaseLayout from '../../layouts/BaseLayout.astro';
import atomiki from '../../assets/atomiki_imresizer.jpg';
import { Image } from 'astro:assets';
---

<BaseLayout>
  <div class="min-h-screen flex flex-col">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
      <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
        Ατομική Θεραπεία
      </h2>

      <div class="flex flex-col md:flex-row gap-8">
        <!-- Image -->
        <div class="flex-shrink-0">
          <Image src={atomiki} alt="atomiki-psyxotherapeia" class="w-1/2 md:w-full mx-auto" />
        </div>

        <!-- Text Content -->
        <div class="flex-1 space-y-6 self-center">
          <p>
            Η ατομική ψυχοθεραπεία προσφέρει έναν ασφαλή και υποστηρικτικό χώρο, όπου το άτομο έχει
            τη δυνατότητα να επεξεργαστεί τα συναισθήματα, τις σκέψεις και τις προκλήσεις που
            αντιμετωπίζει. Μέσα από τη θεραπευτική διεργασία το άτομο αναλύει και επεξεργάζεται τις
            δυναμικές που διαμορφώνουν τη ζωή του και αναζητά πιο υγιείς και λειτουργικούς τρόπους
            αλληλεπίδρασης με το περιβάλλον του.
          </p>
          <p>
            Η ατομική ψυχοθεραπεία μπορεί να είναι χρήσιμη για ποικίλες καταστάσεις, όπως το άγχος,
            η κατάθλιψη, οι διαταραχές διάθεσης, οι δυσκολίες στις διαπροσωπικές σχέσεις, ή ακόμη
            και για προσωπική ανάπτυξη και ενδυνάμωση. Στοχεύει στη βαθιά και σταθερή αλλαγή, ώστε
            το άτομο να μπορεί να αντιμετωπίσει αποτελεσματικότερα τις προκλήσεις της καθημερινής
            του ζωής.
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
