---
import BaseLayout from '../../layouts/BaseLayout.astro';
import goneis from '../../assets/goneis_index.png';
import { Image } from 'astro:assets';
const title = 'Συμβουλευτική Γονέων | Ενάλια';
const description = 'Συνεδρίες συμβουλευτικής γονέων από την Ενάλια στη Νέα Ιωνία.';
const keywords = 'Θεραπεία, Συμβουλευτική, γονείς, συμβουλευτική γονέων, simvouleutiki goneon, parent councelling, councelling, parents, goneis, enalia, εναλια, Νέα Ιωνία, Αθήνα, Athens, Nea Ionia';
---

<BaseLayout {title} {description} {keywords}>
  <div class="min-h-screen flex flex-col">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
      <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
        Συμβουλευτική Γονέων
      </h2>

      <div class="flex flex-col md:flex-row gap-8">
        <!-- Image -->
        <div class="flex-1 space-y-6 self-center">
          <Image src={goneis} alt="atomiki-psyxotherapeia" class="w-1/2 md:w-full mx-auto" />
        </div>

        <!-- Text Content -->
        <div class="flex-1 space-y-6 self-center">
          <p class="text-justify">
           Η συμβουλευτική γονέων προσφέρει έναν χώρο διαλόγου και αναστοχασμού, όπου οι γονείς έχουν την ευκαιρία να βιώσουν μια ουσιαστική συνάντηση με τον γονεϊκό τους ρόλο και να ενισχύσουν τη σχέση τους με τα παιδιά τους. Στόχος μας είναι να τους βοηθήσουμε να κατανοήσουν βαθύτερα τις ανάγκες των παιδιών, αλλά και τις δικές τους, μέσα από έναν δημιουργικό διάλογο που στηρίζεται στην ενσυναίσθηση και τη συνεργασία.
          </p>
          <p class="text-justify">
            Η προσέγγισή μας δεν βασίζεται σε έτοιμες συνταγές ή «σωστές» απαντήσεις, αλλά στην ενίσχυση της ικανότητας των γονέων να αναπτύσσουν τρόπους επικοινωνίας και σύνδεσης που ταιριάζουν στη δική τους οικογένεια. Μαζί, δουλεύουμε πάνω στις προκλήσεις που μπορεί να προκύπτουν στην καθημερινότητα, με σεβασμό στη μοναδικότητα κάθε οικογενειακού συστήματος.
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

