---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Σχετικά με εμάς | Ενάλια';
const description = 'Ποιοι είμαστε και η φιλοσοφία μας.';
---

<BaseLayout {title} {description}>

  <main class="text-white min-h-screen py-12 px-6">
    <section class="max-w-4xl mx-auto bg-tertiary text-gray-800 p-8 rounded-lg shadow-md">
      <h1 class="text-3xl font-bold mb-6">Σχετικά με το Enalia Therapy</h1>
      <p class="mb-4">Το Enalia Therapy είναι ένα ψυχοθεραπευτικό κέντρο αφιερωμένο στην παροχή ποιοτικής υποστήριξης σε παιδιά, εφήβους και ενήλικες.</p>
      <p class="mb-4">Η ομάδα μας αποτελείται από έμπειρους θεραπευτές που προσφέρουν ένα ασφαλές και εμπιστευτικό περιβάλλον.</p>
      <p>Πιστεύουμε στην δύναμη της θεραπευτικής σχέσης και στην εξατομικευμένη προσέγγιση.</p>
    </section>
  </main>

</BaseLayout>
