---
import BaseLayout from '../layouts/BaseLayout.astro';
import viomatikes from '../assets/viomatikes.png';
import { Image } from 'astro:assets';
const title = 'Βιωματικές Δράσεις | Ενάλια';
const description = 'Ψυχοθεραπευτικό κέντρο στη Νέα Ιωνία. Ατομική θεραπεία, ζεύγους, οικογενειακή.';
---

<BaseLayout {title} {description}>
  <div class="min-h-screen flex flex-col">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
      <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
        Βιωματικές Δράσεις
      </h2>

      <div class="flex flex-col md:flex-row gap-8">
        <!-- Image -->
        <div class="flex-shrink-0 self-center">
          <Image src={viomatikes} alt="atomiki-psyxotherapeia" class="w-1/2 md:w-full mx-auto" />
        </div>

        <!-- Text Content -->
        <div class="flex-1 space-y-6">
          <p class="text-justify">
           Στην Ενάλια, πέρα από την ψυχοθεραπεία, δίνουμε ιδιαίτερη έμφαση στις βιωματικές δράσεις, οι οποίες αναπτύσσονται τόσο εντός του κέντρου μας όσο και στην ευρύτερη κοινότητα. Μέσα από αυτή τη διαδικασία, σκοπός μας είναι να ενισχύσουμε τις διαπροσωπικές σχέσεις και να προσφέρουμε στήριξη σε ανθρώπους που βρίσκονται σε διαφορετικές φάσεις ζωής.
          </p>
          <p class="text-justify">
            Διοργανώνουμε ομάδες γονέων με στόχο την ενίσχυση των γονεϊκών δεξιοτήτων και την καλλιέργεια της επικοινωνίας και της ενσυναίσθησης μέσα στην οικογένεια. Παράλληλα, πραγματοποιούμε βιωματικές δράσεις σε σχολεία, όπου συνεργαζόμαστε με ομάδες μαθητών, εκπαιδευτικών και γονέων, προκειμένου να ενισχύσουμε την ψυχική υγεία και τις δεξιότητες κοινωνικής αλληλεπίδρασης.
          </p>
          <p class="text-justify">Επιπρόσθετα, συνεργαζόμαστε με οργανισμούς και φορείς, προσφέροντας διεπαγγελματική συμβουλευτική μέσω βιωματικών εργαστηρίων για εργαζομένους. Μέσα από ομαδικές δράσεις, όπως θεματικά workshops (π.χ. για τη διαχείριση συγκρούσεων, την ενσυνειδητότητα στην εργασία, την ενδυνάμωση ρόλων ή την πρόληψη και διαχείριση της επαγγελματικής εξουθένωσης), ενισχύουμε την επικοινωνία, τη σύνδεση και τη συνεργασία μεταξύ των μελών μιας ομάδας. Απώτερος στόχος είναι η ενίσχυση του εργασιακού κλίματος και των σχέσεων στο χώρο εργασίας, συμβάλλοντας στη βελτίωση της απόδοσης και της συνοχής του οργανισμού.</p>
          <p class="text-justify">Οι βιωματικές δράσεις μας διαπνέονται από την επιθυμία να γίνουμε ενεργό κομμάτι της ευρύτερης κοινότητας και να προσφέρουμε υποστήριξη σε άτομα όλων των ηλικιών, συντελώντας στη δημιουργία συνδεδεμένων και υποστηρικτικών κοινωνικών δικτύων. Επιδιώκουμε να αναπτύξουμε δράσεις που προάγουν την αλληλοκατανόηση και τη συνεργασία, ενισχύοντας έτσι τη συναισθηματική ευημερία των συμμετεχόντων.</p>
          <p class="text-justify">Οι παρεμβάσεις διαμορφώνονται κάθε φορά κατόπιν διερεύνησης των αναγκών και των ιδιαιτεροτήτων του εκάστοτε πλαισίου.</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
