---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/ContactForm.jsx';
---

<BaseLayout>
  <section class="text-white min-h-screen py-12 px-6">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-gray-900">Φόρμα Επικοινωνίας</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
        Αν θέλετε να κλείσετε ραντεβού, συμπληρώστε τα στοιχεία σας παρακάτω και θα επικοινωνήσουμε άμεσα μαζί σας.
      </p>

      <!-- Load React form -->
      <ContactForm client:load />
    </div>
  </section>
</BaseLayout>
