---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import image1 from '../assets/our-place/images1.jpg';
import chris from '../assets/team/chris.jpg';
import evi from '../assets/team/evi.jpg';
---

<BaseLayout>
  <Fragment slot="banner">
    <div class="relative w-full h-[320px] overflow-hidden bg-inpage">
      <svg class="absolute inset-0 w-full h-full"
    preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
        <style>
          .path-0 {
            animation: pathAnim-0 4s linear infinite;
          }
          @keyframes pathAnim-0 {
            0% {
              d: path("M 0,700 L 0,262 C 138.92,328.46 277.85,394.92 405,381 C 532.14,367.07 647.5,272.75 760,260 C 872.5,247.24 982.14,316.07 1095,330 C 1207.85,343.92 1323.92,302.96 1440,262 L 1440,700 L 0,700 Z");
            }
            25% {
              d: path("M 0,700 L 0,262 C 93,315.42 186,368.85 314,354 C 442,339.14 605,256 739,234 C 872.99,211.99 978,251.14 1090,266 C 1202,280.85 1321,271.42 1440,262 L 1440,700 L 0,700 Z");
            }
            50% {
              d: path("M 0,700 L 0,262 C 155.53,219.28 311.07,176.57 426,169 C 540.92,161.42 615.25,189 731,218 C 846.74,247 1003.92,277.42 1129,285 C 1254.07,292.57 1347.03,277.28 1440,262 L 1440,700 L 0,700 Z");
            }
            75% {
              d: path("M 0,700 L 0,262 C 128.25,316.10 256.5,370.21 385,370 C 513.5,369.78 642.25,315.25 758,313 C 873.75,310.75 976.5,360.78 1088,361 C 1199.5,361.21 1319.75,311.6 1440,262 L 1440,700 L 0,700 Z");
            }
            100% {
              d: path("M 0,700 L 0,262 C 138.92,328.46 277.85,394.92 405,381 C 532.14,367.07 647.5,272.75 760,260 C 872.5,247.24 982.14,316.07 1095,330 C 1207.85,343.92 1323.92,302.96 1440,262 L 1440,700 L 0,700 Z");
            }
          }
        </style>
        <defs>
          <linearGradient id="gradient" x1="72%" y1="95%" x2="28%" y2="5%">
            <stop offset="5%" stop-color="#769d88" />
            <stop offset="95%" stop-color="#fbfaf8" />
          </linearGradient>
        </defs>
        <path d="M 0,700 L 0,262 C 138.92,328.46 277.85,394.92 405,381 C 532.14,367.07 647.5,272.75 760,260 C 872.5,247.24 982.14,316.07 1095,330 C 1207.85,343.92 1323.92,302.96 1440,262 L 1440,700 L 0,700 Z" fill="url(#gradient)" class="path-0" />
      </svg>

      <!-- Text inside Banner -->
      <div class="absolute inset-0 flex items-center justify-center mt-10">
        <h2 class="text-white text-3xl md:text-4xl font-semibold">Καλωσορίσατε στην "Ενάλια"</h2>
      </div>
    </div>
  </Fragment>

  <!-- About us -->
   <section class="grid gap-10 md:grid-col-1">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <p class="text-tertiary-600">Το όνομα Ενάλια προέρχεται από τη λέξη «ένάλιος» και παραπέμπει στη θάλασσα – σύμβολο ροής, προσαρμογής και βαθιάς εσωτερικής μεταμόρφωσης. Όπως το νερό διαμορφώνει το τοπίο, έτσι και οι εμπειρίες, οι σχέσεις και οι προκλήσεις της ζωής διαμορφώνουν την εσωτερική μας πορεία. Κάθε κύμα, όπως και κάθε αλληλεπίδραση, φέρει τη δύναμη να μας επηρεάσει και να μας αλλάξει. Στο Κέντρο Ψυχοθεραπείας Ενάλια, αφουγκραζόμενοι αυτή τη δυναμική, προσφέρουμε έναν χώρο ασφάλειας και ενσυναίσθησης, όπου η θεραπεία γίνεται ένα ταξίδι σύνδεσης με τον εαυτό και τους άλλους – μια διαδικασία συνεχούς ροής και προσωπικής εξέλιξης.</p>
    </div>
  </section>


  <!-- Team Section -->
  <section class="mt-16 grid gap-10 md:grid-cols-1">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-2 lg:py-2 mx-auto">
      <div class="max-w-3xl mx-auto text-center mb-10 lg:mb-14">
        <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Η Ομάδα</p>
      </div>

      <div class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <!-- Team Member 1 -->
        <div class="text-center">
          <Image src={chris} alt="Χρήστος Κωστικίδης" class="rounded-full w-32 h-32 sm:w-44 sm:h-44 lg:w-60 lg:h-60 object-cover mx-auto" />
          <div class="mt-2 sm:mt-4">
            <h3 class="text-sm font-medium sm:text-base lg:text-lg">Χρήστος Κωστικίδης</h3>
            <p class="text-xs sm:text-sm lg:text-base">Ψυχοθεραπευτής</p>
          </div>
        </div>

        <!-- Team Member 2 -->
        <div class="text-center">
          <Image src={evi} alt="Εύη Καραβάνα" class="rounded-full w-32 h-32 sm:w-44 sm:h-44 lg:w-60 lg:h-60 object-cover mx-auto" />
          <div class="mt-2 sm:mt-4">
            <h3 class="text-sm font-medium sm:text-base lg:text-lg">Εύη Καραβάνα</h3>
            <p class="text-xs sm:text-sm lg:text-base">Ψυχοθεραπεύτρια</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="mt-16 grid gap-10 md:grid-col-1">
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Οι Υπηρεσίες μας</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
                  </svg>
                </div>
                Ατομική Ψυχοθεραπεία
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η ατομική ψυχοθεραπεία προσφέρει έναν ασφαλή και υποστηρικτικό χώρο, όπου το άτομο έχει τη δυνατότητα να επεξεργαστεί τα συναισθήματα, τις σκέψεις και τις προκλήσεις που αντιμετωπίζει. Μέσα από τη θεραπευτική διεργασία το άτομο αναλύει και επεξεργάζεται τις δυναμικές που διαμορφώνουν τη ζωή του και αναζητά πιο υγιείς και λειτουργικούς τρόπους αλληλεπίδρασης με το περιβάλλον του.Η ατομική ψυχοθεραπεία μπορεί να είναι χρήσιμη για ποικίλες καταστάσεις, όπως το άγχος, η κατάθλιψη, οι διαταραχές διάθεσης, οι δυσκολίες στις διαπροσωπικές σχέσεις, ή ακόμη και για προσωπική ανάπτυξη και ενδυνάμωση. Στοχεύει στη βαθιά και σταθερή αλλαγή, ώστε το άτομο να μπορεί να αντιμετωπίσει αποτελεσματικότερα τις προκλήσεις της καθημερινής του ζωής.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                  </svg>
                </div>
                Θεραπεία Zεύγους
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Δημιουργώντας έναν ασφαλή και υποστηρικτικό χώρο, το ζευγάρι έχει την ευκαιρία να καλλιεργήσει ανοιχτό και ειλικρινή διάλογο, όπου κάθε σύντροφος προσπαθεί να μπει στη θέση του άλλου και να κατανοήσει βαθύτερα τις σκέψεις και τα συναισθήματά του. Μέσα από αυτή τη διαδικασία, το ζευγάρι αναγνωρίζει τις δικές του συναισθηματικές και γνωστικές διεργασίες, και κάθε σύντροφος αποκτά μεγαλύτερη αυτογνωσία, η οποία ενδυναμώνει την ικανότητά του να ανταποκριθεί στις ανάγκες της σχέσης. Στην Ενάλια, υποστηρίζουμε το ζευγάρι ώστε να αναπτύξει νέους τρόπους επικοινωνίας και να μάθει να αντιμετωπίζει τις προκλήσεις με σεβασμό και κατανόηση. Το πιο σημαντικό είναι ότι κάθε σύντροφος μαθαίνει να ενεργεί αυτόνομα, αναπτύσσοντας συμπεριφορές που προάγουν τις διαπροσωπικές σχέσεις και εντός του ζευγαριού, αλλά και έξω από αυτό.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
                </div>
                Οικογενειακή Ψυχοθεραπεία
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η οικογενειακή ψυχοθεραπεία αποτελεί θεμέλιο λίθο στην προσέγγισή μας, καθώς η οικογένεια, σε όλες τις μορφές της, είναι το πρώτο και πιο σημαντικό κοινωνικό σύστημα στο οποίο κάθε μέλος εξασφαλίζει την επιβίωση και την ανάπτυξη του. Βλέπουμε την οικογένεια ως ένα σύστημα, όπου οι σχέσεις μεταξύ των μελών αλληλοεπηρεάζονται και κάθε ατομική δυσκολία νοηματοδοτείται μέσα στο πλαίσιο των σχέσεων της οικογένειας. Οι παρεμβάσεις μας επικεντρώνονται στις διαπροσωπικές σχέσεις και όχι σε μεμονωμένα ατομικά ζητήματα, με στόχο την συνολική ανάπτυξη και ευημερία της οικογένειας. Στην Ενάλια, ο οικογενειακός θεραπευτής δεν περιορίζεται σε ρόλο παρατηρητή, αλλά συμμετέχει ενεργά στη διαδικασία, βοηθώντας τα μέλη να ενδυναμώσουν τη σχέση τους, να κατανοήσουν καλύτερα τις ανάγκες τους και να βρουν νέους τρόπους επικοινωνίας και αλληλεπίδρασης.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
                  </svg>
                </div>
                Ομαδική Ψυχοθεραπεία
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η ομαδική ψυχοθεραπεία προσφέρει ένα περιβάλλον ασφάλειας, εμπιστοσύνης και αμοιβαιότητας, όπου τα μέλη της ομάδας έχουν τη δυνατότητα να αλληλεπιδρούν με αυθεντικότητα και ενσυναίσθηση. Καθώς αναπτύσσεται μια σχέση ειλικρινούς επικοινωνίας, τα μέλη μπαίνουν συναισθηματικά στη θέση του άλλου, αναγνωρίζοντας τις δικές τους γνωστικές και συγκινησιακές διεργασίες. Μέσα από αυτό το μοίρασμα, καλλιεργείται η αυτογνωσία και ενισχύεται η ικανότητα κάθε ατόμου να παίρνει πρωτοβουλίες και να ενδυναμώνει τις διαπροσωπικές του σχέσεις, τόσο εντός της ομάδας όσο και στην καθημερινότητά του. Στην Ενάλια, αξιοποιούμε τη δυναμική της ομάδας ως μοχλό προσωπικής ανάπτυξης και συλλογικής υποστήριξης.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
                </div>
                Συμβουλευτική Γονέων
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η συμβουλευτική γονέων προσφέρει έναν χώρο διαλόγου και αναστοχασμού, όπου οι γονείς έχουν την ευκαιρία να βιώσουν μια ουσιαστική συνάντηση με τον γονεϊκό τους ρόλο και να ενισχύσουν τη σχέση τους με τα παιδιά τους. Στόχος μας είναι να τους βοηθήσουμε να κατανοήσουν βαθύτερα τις ανάγκες των παιδιών, αλλά και τις δικές τους, μέσα από έναν δημιουργικό διάλογο που στηρίζεται στην ενσυναίσθηση και τη συνεργασία.Η προσέγγισή μας δεν βασίζεται σε έτοιμες συνταγές ή «σωστές» απαντήσεις, αλλά στην ενίσχυση της ικανότητας των γονέων να αναπτύσσουν τρόπους επικοινωνίας και σύνδεσης που ταιριάζουν στη δική τους οικογένεια. Μαζί, δουλεύουμε πάνω στις προκλήσεις που μπορεί να προκύπτουν στην καθημερινότητα, με σεβασμό στη μοναδικότητα κάθε οικογενειακού συστήματος.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
                  </svg>
                </div>
                Online Ψυχοθεραπεία
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η online ψυχοθεραπεία είναι μια σύγχρονη μορφή υποστήριξης που προσφέρει ευελιξία και προσβασιμότητα, χωρίς να στερείται τη σύνδεση και το βάθος της διαπροσωπικής επαφής. Μέσα από πλατφόρμες ασφαλούς επικοινωνίας, δημιουργούμε μαζί έναν χώρο εμπιστοσύνης, στον οποίο μπορούν να αναδυθούν σκέψεις, συναισθήματα και ερωτήματα όπως σε κάθε άλλη ψυχοθεραπευτική συνάντηση.</dd>
            </div>
          </dl>
        </div>
    </div>
  </div>
  </section>

  <!-- Space Section -->
  <section class="mt-16 grid gap-10 md:grid-cols-2">
    <div>
      <h2 class="text-2xl font-semibold text-secondary-800 mb-2">Οι Χώροι μας</h2>
      <p class="text-tertiary-600">Ένας φιλόξενος χώρος σχεδιασμένος να προσφέρει ασφάλεια και ηρεμία για τις θεραπευτικές σας συνεδρίες.</p>
    </div>
    <div>
      <Image src={image1} alt="Χώρος θεραπείας" class="rounded-lg shadow-md" />
    </div>
  </section>
</BaseLayout>