---
import BaseLayout from '../layouts/BaseLayout.astro';
import oikogeneiakh from '../assets/oikogeneiakh_imresizer.jpg';
import { Image } from 'astro:assets';
---

<BaseLayout>
  <div class="min-h-screen flex flex-col">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
      <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
        Online Ψυχοθεραπεία
      </h2>

      <div class="flex flex-col md:flex-row gap-8">
        <!-- Image -->
        <div class="flex-shrink-0">
          <Image src={oikogeneiakh} alt="atomiki-psyxotherapeia" class="w-1/2 md:w-full mx-auto" />
        </div>

        <!-- Text Content -->
        <div class="flex-1 space-y-6">
          <p>
           Η online ψυχοθεραπεία είναι μια σύγχρονη μορφή υποστήριξης που προσφέρει ευελιξία και προσβασιμότητα, χωρίς να στερείται τη σύνδεση και το βάθος της διαπροσωπικής επαφής. Μέσα από πλατφόρμες ασφαλούς επικοινωνίας, δημιουργούμε μαζί έναν χώρο εμπιστοσύνης, στον οποίο μπορούν να αναδυθούν σκέψεις, συναισθήματα και ερωτήματα όπως σε κάθε άλλη ψυχοθεραπευτική συνάντηση.
          </p>
          <ul class="list-disc"><p>Ενδείκνυται ιδιαίτερα:</p>
            <!-- Padding so that text and bullets are under the main text -->
            <li>Όταν ο θεραπευόμενος ζει σε απομακρυσμένη περιοχή, όπου δεν υπάρχουν διαθέσιμοι ψυχολόγοι ή ψυχοθεραπευτές·</li>
            <li>Όταν αλλάζει τόπο διαμονής ή χρειάζεται να λείψει για μεγάλο χρονικό διάστημα ενώ η θεραπεία βρίσκεται ήδη σε εξέλιξη·</li>
            <li>Όταν υπάρχουν σοβαρά προβλήματα υγείας που περιορίζουν τη φυσική μετακίνηση, όπως παραμονή στο σπίτι ή σε νοσηλευτικό ίδρυμα·</li>
            <li>Καθώς και σε περιπτώσεις άλλων ανυπέρβλητων δυσκολιών που καθιστούν αδύνατη την τακτική παρουσία στο θεραπευτικό πλαίσιο.</li>
          </ul>
          <p>Η online ψυχοθεραπεία διατηρεί τον προσωπικό της χαρακτήρα και ακολουθεί την ίδια προσέγγιση, το ίδιο πλαίσιο και τους ίδιους στόχους με τη δια ζώσης συνεδρία, ενώ παράλληλα προσαρμόζεται στις ανάγκες της εποχής και του ατόμου.</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
