---
// src/pages/gallery.astro
import ImageCarousel from '../components/Carousel.jsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="pt-10 pb-10 text-center font-medium text-xl"> 
    <h2>Ο χώρος μας</h2></div>
    <ImageCarousel client:load />
</BaseLayout>