{/* <div class="sidebar-footer text-center text-sm text-primary-500 py-4 bg-waves>
  <p>&copy; 2025 Ενάλια</p>
</div> 
<footer class="text-secondary-100 bg-secondary">
  <div class="bg-[url('/images/layered-waves-haikei.svg')] bg-no-repeat bg-cover bg-bottom text-white py-12">
    
  </div>
  <div class="container mx-auto text-center">
        <p>&copy; 2025 Ενάλια. All rights reserved.</p>
  </div>
</footer>*/}


<footer class="text-100 bg-secondary">
  <!-- Decorative wave background -->
  <div class="bg-[url('/images/layered-waves-haikei.svg')] bg-no-repeat bg-cover bg-bottom text-white py-12">
    <div class="container mx-auto flex flex-col items-center gap-4 text-center md:flex-row md:justify-center md:gap-12">
      <a href="/" class="hover:underline">Home</a>
      <a href="/about" class="hover:underline">About</a>
      <a href="/projects" class="hover:underline">Projects</a>
      <a href="/gallery" class="hover:underline">Gallery</a>
      <a href="/contact" class="hover:underline">Contact</a>
    </div>
  </div>

  <!-- Footer base with copyright -->
  <div class="container mx-auto text-center text-sm py-4 text-white">
    <p>&copy; 2025 Ενάλια. All rights reserved.</p>
  </div>
</footer>
