---
import {
  Facebook,
  Mail,
  Phone
} from '@lucide/astro';
import logo from "../assets/logo.webp"; // <-- add this
import instagram from "../assets/instagram.svg"
const BASE = import.meta.env.BASE_URL || '/';
---

<header class="fixed top-0 left-0 z-40 w-full bg-primary md:left-72 md:w-[calc(100%-18rem)]">
  <!-- MOBILE HEADER -->
  <div class="md:hidden flex items-center justify-between h-12 px-4">
    <div class="w-8 h-8"></div>
    <img src={logo.src} alt="Ενάλια" class="h-8 w-auto object-contain" />
  </div>

  <!-- DESKTOP/TABLET HEADER -->
  <div class="hidden md:flex justify-between w-full h-10 bg-primary px-4 items-center">
    <a
      class="text-md font-semibold text-center text-secondary"
      href={`${BASE}contact`}
    >
      Κλείστε την πρώτη σας συνεδρία
    </a>

    <ul class="flex items-center h-full gap-8 px-6 text-md font-semibold tracking-wide text-secondary">
      <li class="flex items-center h-full"><span class="flex items-center gap-1 h-full"><Facebook class="w-4 h-4" /></span></li>
      <li class="flex items-center h-full"><span class="flex items-center gap-1 h-full"><Mail class="w-4 h-4" /></span></li>
      <li class="flex items-center h-full"><span class="flex items-center gap-1 h-full">
        <!-- <img src={instagram.src} class="w-4 h-4" /> -->
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50" class="w-4 h-4 fill-secondary">
          <path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
        </svg>
      </span></li>
    </ul>

    <ul class="flex items-center h-full gap-8 px-6 text-md font-semibold tracking-wide text-secondary">
      <li class="flex items-center h-full">
        <span class="flex items-center gap-1 h-full">
          <a class="self-center" href="https://maps.app.goo.gl/yRFXY9cB1Xb4ipSA8" target="_blank" rel="noopener noreferrer" aria-label="Open Google Maps">Λευκής 12, Νέα Ιωνία</a>
        </span>
      </li>
    </ul>
  </div>
</header>

