---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.jsx';
import '../styles/tailwind.css';
---

<html lang="el">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ενάλια</title>
  </head>
  <body class="flex">
    <Sidebar client:load/>
    <div class="ml-0 w-full flex flex-col min-h-screen transition-all duration-300">
      <Header />
      <main class="flex-1 p-6 bg-inpage">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
